@model DogWalked.Models.Dog


<style>
    #dog@(Model.Page) #walkDot {
        visibility: @(Model.WalkDot ? "visible" : "hidden");
    }
    #dog@(Model.Page) #foodDot {
        visibility: @(Model.FoodDot ? "visible" : "hidden");
    }
    #dog@(Model.Page) #waterDot {
        visibility: @(Model.WaterDot ? "visible" : "hidden");
    }
    #dog@(Model.Page) #peeDot {
        visibility: @(Model.PeeDot ? "visible" : "hidden");
    }
    #dog@(Model.Page) #poopDot {
        visibility: @(Model.PoopDot ? "visible" : "hidden");
    }

    #dog@(Model.Page) #walk > .fill::after {
        bottom: @(Model.WalkStatus)em;
    }

    #dog@(Model.Page) #food > .fill::after {
        bottom: @(Model.FoodStatus)em;
    }

    #dog@(Model.Page) #water > .fill::after {
        bottom: @(Model.WaterStatus)em;
    }

    #dog@(Model.Page) #pee > .fill::after {
        bottom: @(Model.PeeStatus)em;
    }

    #dog@(Model.Page) #poop > .fill::after {
        bottom: @(Model.PoopStatus)em;
    }

    #dog@(Model.Page) .leftArrow {
        visibility: @(Model.Page == 0 ? "hidden" : "visible");
    }

</style>

<div class="dog" id="dog@(Model.Page)">
    <img class="dogImg" src="@Model.ImageUrl" />
    <span class="dogName">@Model.Name</span>

    <img class="arrow leftArrow" src="~/Content/arrow.png" />
    <img class="arrow rightArrow" src="~/Content/arrow.png" />

    <div class="row iconRow">
        <div class="col-md-1"></div>
        <div class="col-md-2 col-xs-6 iconContainer">
            <div class="iconContainerInner">
                <div class="dot" id="walkDot"></div>
                <div id="walk" class="statusicon">
                    <div class="fill"></div>
                    <img class="iconImg" src="~/Content/icons/walk.png" />
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 iconContainer">
            <div class="iconContainerInner">
                <div class="dot" id="foodDot"></div>
                <div id="food" class="statusicon">
                    <div class="fill"></div>
                    <img class="iconImg" src="~/Content/icons/food.png" />
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 iconContainer">
            <div class="iconContainerInner">
                <div class="dot" id="waterDot"></div>
                <div id="water" class="statusicon">
                    <div class="fill"></div>
                    <img class="iconImg" src="~/Content/icons/water.png" />
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-6 iconContainer">
            <div class="iconContainerInner">
                <div class="dot" id="peeDot"></div>
                <div id="pee" class="statusicon">
                    <div class="fill"></div>
                    <img class="iconImg" src="~/Content/icons/pee.png" />
                </div>
            </div>
        </div>
        <div class="col-md-2 col-xs-12 iconContainer">
            <div class="iconContainerInner">
                <div class="dot" id="poopDot"></div>
                <div id="poop" class="statusicon">
                    <div class="fill"></div>
                    <img class="iconImg" src="~/Content/icons/poop.png" />
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>


</div>